/*$tipografia: Arial, Tahoma;*/
/* CONTACTO partes formulario */
.navbar-brand {
  float: none; }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  width: 100%;
  position: fixed;
  z-index: 2;
  display: inline; }

body {
  margin: 0; }

.fondo {
  background-size: hover; }

.fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.fondo-1 {
  background-image: url("../images/back-lock.jpg"); }

.modulo-alto {
  padding: 1em;
  min-height: 100vh;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.titulo {
  color: #FFFFFF;
  padding-bottom: 36px;
  font-size: 70px;
  margin-top: 250px; }

.tit {
  font-size: 30px;
  color: #B9ABAB;
  margin-top: 10px; }

.texto-individual {
  padding-top: 150px;
  padding-bottom: 150px; }

.text {
  color: #141414;
  margin-top: -8px; }

.H {
  border: 1px solid #141414;
  width: 40px;
  float: left; }

.gra {
  color: #B9ABAB;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left; }

.gray {
  color: #B9ABAB;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block; }

.im {
  float: left;
  margin: 15px; }

.bg3 {
  background-image: url("../images/bg3.jpg");
  background-repeat: repeat; }

.fondo {
  background-size: hover; }

.fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.modulo-alto {
  padding: 1em;
  min-height: 100vh;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.white {
  color: #FFFFFF;
  margin-top: 40px;
  text-align: left; }

.text-white {
  color: #FFFFFF;
  margin-top: 100px;
  text-align: left; }

.H-white {
  border: 1px solid #FFFFFF;
  width: 40px;
  float: left; }

.video {
  margin-top: 300px; }

.me-define {
  padding-top: 150px;
  padding-bottom: 150px; }

.img {
  width: 250px;
  height: 250px; }

.planes {
  padding-top: 100px;
  padding-bottom: 100px; }

.col-md-3:hover {
  background-color: #FFFFFF;
  border: 2px solid #141414; }

.cuadro {
  background-color: #B9ABAB;
  border: 1px solid transparent;
  text-align: center; }
  .cuadro .recuadro {
    border: 1px solid #9C9393;
    text-align: center; }
    .cuadro .recuadro strong {
      color: #141414; }

input {
  background-color: #141414;
  color: white;
  width: 255px;
  height: 70px;
  text-align: center; }

footer {
  width: 100%;
  height: 80px;
  background-color: #141414; }
  footer ul li {
    display: inline;
    color: #B9ABAB; }

/*# sourceMappingURL=main.css.map */
