.navbar-brand{
	float: none;
}
.navbar{
  margin-bottom: 0;
}
.navbar-default{
  width: 100%;
  position: fixed;
  z-index: 2;
  display: inline;
}
body{
  margin: 0;
}
.fondo{
  background-size: hover;
}
.fondo-fixed{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.fondo-1 {
  	background-image: url("../images/back-lock.jpg");

}
.modulo-alto {
  padding: 1em;
  min-height: 100vh;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}
.titulo{
	@include home;
	font-size: 70px;
  margin-top: 250px;
}
.tit{
	font-size: 30px;
	color: $gris-claro;
  margin-top: 10px;
}
