.bg3{
	background-image: url("../images/bg3.jpg");
	background-repeat: repeat;
}
.fondo{
  background-size: hover;
}
.fondo-fixed{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.modulo-alto {
      padding: 1em;
	  min-height: 100vh;
	  text-align: center;
	  height: 100%;
	  width: 100%;
	  background-color: rgba(0,0,0,0.6);
}
.white{
	color: $white;
    margin-top: 40px;
    text-align: left;
}
.text-white{
    color: $white;
    margin-top: 100px;
    text-align: left;
 
}
.H-white{
	border: 1px solid $white;
	width: 40px;
	float: left;
}
.video{
	margin-top: 300px;
   }
