.planes{
	padding-top: 100px;
	padding-bottom: 100px;
}
.col-md-3:hover{
	background-color: $white;
	border: 2px solid $black;
}
.cuadro{
	background-color: $gris-claro;
	border: 1px solid transparent;
	text-align: center;
	.recuadro{
		border: 1px solid $gris-oscuro;
		text-align: center;
		strong{
			color: $black;
		}
	}
}
input{
	background-color: $black;
	color: white;
	width: 255px;
	height: 70px;
	text-align: center;
}