.texto-individual{
	padding-top: 150px;
	padding-bottom: 150px;
}
.text{
	color: $black;
	margin-top: -8px;
}
.H{
	border: 1px solid $black;
	width: 40px;
	float: left;
}
.gra{
	color: $gris-claro;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}
.gray{
	color: $gris-claro;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
}
.im{
	float: left;
	margin: 15px;
}