@mixin repisa{
	&:before , &:after{
		content: " ";
		display: block;
		clear: both;
	}
}

@mixin home{
	color: $white;
	padding-bottom: 36px;
}

/* CONTACTO partes formulario */
@mixin formulario {
	background-color: $gris-form;
	border: 1px solid grey;
	width: 100%;
}



