$gris-claro: #B9ABAB;
$rojo: #b81414;
$gris-form: #ededed;
$black: #141414;
$naranjo: #db4b4b;
$tipografia: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*$tipografia: Arial, Tahoma;*/
$tipografia: Arial, Tahoma;
$tipografia2: "oswald",arial;
$gris-oscuro: #9C9393;
$white: #FFFFFF;

